<footer class="footer">
  <div class="bootstrap-wrapper">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2>About Us</h2>
          <mat-card-subtitle>
            WebEx provides a platform to organize the online proctored examination with an integrated user friendly  environment that generates the instant provisional reports to the respective students who had appeared the examination successfully.
          </mat-card-subtitle>
        </div>
        <div class="col-md-2">
          <h2>Contact Us</h2>
          <mat-card-subtitle>
            <a class="mail" href="mailto:contactvirtuallibrary@gmail.com"
              >WebEx2022@gmail.com</a
            >
          </mat-card-subtitle>
        </div>
        <div class="col-md-3 lst">
          <div class="img">
            <a href="index.html"
              ><img src="../../../assets/instagram.png" alt="" /></a
            ><a href="index.html"
              ><img src="../../../assets/facebook.png" alt="" /></a
            ><a href="index.html"
              ><img src="../../../assets/linkedin.png" alt=""
            /></a>
          </div>
          <p>Copyright&copy;2022 | WebEx</p>
        </div>
      </div>
    </div>
  </div>
</footer>
