/* Bootstrap Wrapper Main Content */
.bootstrap-wrapper {
    padding-top: 100px;
    background: linear-gradient(to bottom right, purple, blue);
    height: 140vh;
}

/* Row */
.row {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 20px;
}

/* Image Width */
.row img {
    width: 100%;
    height: 726px;
    opacity: 0.9;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: -6px 0px 22px 0px rgba(0, 28, 46, 0.726);
}

/* Form Field Right Element */
.right {
    background-color: white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* Heading */
h1 {
    text-transform: capitalize;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    padding-top: 10px;
}

/* Form */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Form Width */
form .full-width {
    width: 80%;
    margin-bottom: 10px;
}

/* Mat Form Field */
::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    box-shadow: rgba(6, 63, 73, 0.35) 0px 5px 15px;
}

/* Set top-lef and bottom-left corner radius */
:host ::ng-deep .mat-form-field-outline-start {
    border-radius: 0px 0 0 0px !important;
    min-width: 8px !important;
}

/* Set top-right and bottom-right corner radius */
:host ::ng-deep .mat-form-field-outline-end {
    border-radius: 0 30px 30px 0 !important;
}

/* To change mat form field border color */
:host ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: transparent !important;
}

/* To change mat form field border color on focus */
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-start,
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-end,
:host ::ng-deep .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline {
    color: purple !important;
}

/* Mat-Icon */
mat-icon {
    color: darkmagenta;
    transform: scale(1.2);
    text-align: center;
}

/* Mat-Error */
mat-error {
    color: rgb(139, 15, 129);
    font-size: 12px;
}

/* Mat-Label */
mat-label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(117, 112, 112);
    font-size: 0.9rem;
    font-weight: 400;
}

/* Flex For two Button */
.flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Button */
.flex .signup {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 15px;
    border-radius: 30px;
    border-style: none;
    background: linear-gradient(45deg, rgba(128, 0, 128, 0.904), rgba(0, 0, 255, 0.884));
    color: white;
}

.flex .signup:hover {
    box-shadow: rgba(2, 70, 99, 0.322) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.flex .clear {
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 10px 12px;
    border-radius: 30px;
    border-style: none;
    background: linear-gradient(45deg, rgba(250, 50, 250, 0.904), rgba(224, 248, 255, 0.884));
    color: black;
}

.flex .clear:hover {
    box-shadow: rgba(2, 70, 99, 0.322) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* P Tag Form */
form p {
    padding: 35px 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    color: #3f3c3c;
    text-align: center;
}

/* Link Attribute */
form p a {
    text-decoration: none;
    color: rgb(118, 3, 141);
    font-weight: 600;
}

/* Link Attribute Hover*/
form p a:hover {
    color: rgb(47, 3, 128);
}