<div class="d-flex justify-content-start align-items-center box">
  <div class="container2">
    <h1 class="text-center">Welcome To <b>WebEx</b></h1>
    <h2 class="text-capitalize text-center">Online Exam Portal</h2>
    <div
      class="container d-flex justify-content-around align-items-center mt-4"
    >
      <button class="btn btn-dark" type="button">
        <a href="/signup" class="text-decoration-none text-center text-light"
          >SignUp</a
        >
      </button>
      <button class="btn btn-light" type="button">
        <a href="/login" class="text-decoration-none text-center text-dark"
          >SignIn</a
        >
      </button>
    </div>
  </div>
</div>
<!-- Footer Component Add -->
<app-footer></app-footer>
