<mat-card>
  <!-- Card Header -->
  <mat-card-header>
    <!-- Logo -->
    <div mat-card-avatar class="example-header-image"></div>
    <!-- Heading -->
    <mat-card-title>Previous Year Questions</mat-card-title>
    <!-- Sub Heading -->
    <mat-card-subtitle> PYQ </mat-card-subtitle>
  </mat-card-header>

  <!-- Accordion DropDown -->
  <div id="accordion">
    <!-- JEE MAIN -->
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h2>JEE MAIN</h2>
        <!-- DropDown Button -->
        <a class="btn" data-bs-toggle="collapse" href="#One">
          <mat-icon> arrow_drop_down </mat-icon>
        </a>
      </div>
      <!-- DropDown Content -->
      <div id="One" class="collapse show" data-bs-parent="#accordion">
        <!-- First Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>JEE-Main-2021-Physics -- Shift1</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/JEE/JEE-Main-2021-Shift-1-Physics.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/JEE/JEE-Main-2021-Shift-1-Physics.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!-- Second Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>JEE-Main-2022-Mathematics -- Shift1</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/JEE/JEE-Main-2022-Shift-1-Math.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/JEE/JEE-Main-2022-Shift-1-Math.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- NEET -->
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h2>NEET</h2>
        <!-- DropDown Button -->
        <a class="collapsed btn" data-bs-toggle="collapse" href="#Two">
          <mat-icon> arrow_drop_down </mat-icon>
        </a>
      </div>
      <!-- DropDown Content -->
      <div id="Two" class="collapse" data-bs-parent="#accordion">
        <!-- First Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>NEET-2021-Chemistry -- Code-M5</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/NEET/NEET-2021-Chemistry-Code-M5.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/NEET/NEET-2021-Chemistry-Code-M5.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!-- Second Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>NEET-2022-Botany -- Code-T6</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/NEET/NEET-2022-Botany-Code-T6.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/NEET/NEET-2022-Botany-Code-T6.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- OS -->
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h2>Operating Systems</h2>
        <!-- DropDown Button -->
        <a class="collapsed btn" data-bs-toggle="collapse" href="#Three">
          <mat-icon> arrow_drop_down </mat-icon>
        </a>
      </div>
      <!-- DropDown Content -->
      <div id="Three" class="collapse" data-bs-parent="#accordion">
        <!-- First Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>OS Paper1 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/OS/OSPAPER1.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/OS/OSPAPER1.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!-- Second Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>OS Paper2 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/OS/OSPAPER2.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/OS/OSPAPER2.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- CA -->
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h2>Computer Architecture</h2>
        <!-- DropDown Button -->
        <a class="collapsed btn" data-bs-toggle="collapse" href="#Four">
          <mat-icon> arrow_drop_down </mat-icon>
        </a>
      </div>
      <!-- DropDown Content -->
      <div id="Four" class="collapse" data-bs-parent="#accordion">
        <!-- First Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>CA Paper1 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/CA/CAPART 1.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/CA/CAPART 1.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!-- Second Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>CA Paper2 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/CA/CAPART 2.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/CA/CAPART 2.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- C -->
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h2>C Programming</h2>
        <!-- DropDown Button -->
        <a class="collapsed btn" data-bs-toggle="collapse" href="#Six">
          <mat-icon> arrow_drop_down </mat-icon>
        </a>
      </div>
      <!-- DropDown Content -->
      <div id="Six" class="collapse" data-bs-parent="#accordion">
        <!-- First Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>C Programming Paper1 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/C/CPart 1.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/C/CPart 1.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!-- Second Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>C Programming Paper2 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/C/CPart 2.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/C/CPart 2.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <!-- CD -->
    <div class="card">
      <!-- Card Header -->
      <div class="card-header">
        <h2>Compiler Design</h2>
        <!-- DropDown Button -->
        <a class="collapsed btn" data-bs-toggle="collapse" href="#Seven">
          <mat-icon> arrow_drop_down </mat-icon>
        </a>
      </div>
      <!-- DropDown Content -->
      <div id="Seven" class="collapse" data-bs-parent="#accordion">
        <!-- First Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>CD Paper1 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/CD/compiler part 1.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/CD/compiler part 1.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
        <!-- Second Paper -->
        <mat-list>
          <!-- List Item -->
          <mat-list-item>
            <!-- Paper Icon -->
            <mat-icon mat-list-icon> receipt_long </mat-icon>
            <!-- Title -->
            <div mat-line>CD Paper2 -- MCQ</div>

            <!-- View Buttton -->
            <a
              mat-flat-button
              color="accent"
              href="../../../../assets/PYQ/CD/compiler part 2.pdf"
              target="_blank"
            >
              View <mat-icon>view_list</mat-icon>
            </a>

            <!-- Download Button -->
            <a
              mat-flat-button
              color="primary"
              href="../../../../assets/PYQ/CD/compiler part 2.pdf"
              download
            >
              Download <mat-icon>file_download</mat-icon>
            </a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
  </div>
</mat-card>
